@charset "utf-8";
#wrap{
    overflow: hidden;
    background-color: #333;
}

/* 헤더 */
header{
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    transition: 0.3s;
}
.header-wrap{
    width: 1600px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.m-main_menu{
    display: none;
}
#hamburger{
    display: none;
}

header.on{
    background-color: #5a5a5a;
}
/* 해더 left menu */
.left-menu{
    line-height: 100px;
}

.left-menu ul{
    display: flex;
    justify-content: space-between;
}

.left-menu ul li{
    margin-left: 20px;
    text-align: center;
}

.left-menu ul li a{
    color: #fff;
    font-size: 16px;
}

/* 해더 right menu */

.right-menu{
    line-height: 100px;
}

.right-menu ul{
    display: flex;
    justify-content: space-between;
}

.right-menu ul li{
    margin-left: 20px;
    text-align: center;
}

.right-menu ul li a{
    color: #fff;
    font-size: 16px;
}

/* 해더 로고 */
.logo{
    width: 200px;
    height: 40px;
    margin: auto 325px;
}

/* 해더 active */
header.active{
    background-color: #5a5a5a;
}

.left-menu ul li a.active,
.right-menu ul li a.active{
    color: #0D0D0D;
}
/* banner 영역 */
.banner{
    position: relative;
}
.banner-txt{
    width: 783px;
    height: 378px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 250px;
    left: 200px;
}

.gns{
    font-family: "Cinzel";
    font-size: 150px;
    color: #fff;
    margin-bottom: 50px;
    font-weight: 400;
}

.gns-txt{
    font-weight: 300;
    font-size: 25px;
    color: #fff;
    margin-bottom: 50px;
}

.gns-btn{
    width: 300px;
    height: 100px;
    border: 3px solid #fff;
}

.gns-btn a{
    color: #fff;
    line-height: 100px;
    font-size: 20px;
    text-align: center;
}

/* sec-1영역 */
.f-txt{
    display: flex;
    top: 130px;
    margin-top: 130px;
}

.f-txt span{
    width: 10px;
    height: 60px;
    background-color: #fff;
    display: block; 
}

.f-txt h1{
    font-size: 48px;
    color: #fff;
    margin-left: 10px;
}

.sec-1-f{
    position: relative;
}

.sec-1 .container{
    width: 1600px;
    margin: 0 auto;
}

/* 슬라이더영역 */
.f-img{
    border-bottom: 3px solid #fff;
}
.sec-1 .f-slider_mask{
    display: flex;
    overflow: hidden;
    width: 1600px;
    height: 360px;
}

.sec-1 .cell{
    width: 360px;
    height: 360px;
    margin-right: 50px;
    position: relative;
}
.sec-1 .cell img{
    object-fit: contain;
}
.sec-1 .cell p{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 40px;
    left: 40px;
}
.sec-1 .cell .ex{
    font-size: 20px;
    top: 80px;
}
.sec-1 .slider{
    display: flex;
    animation: slide 60s linear infinite;
}
@keyframes slide{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

/* sec-1 모먼츠 영역 */
.s-txt{
    display: flex;
    margin-top: 30px;
}

.s-txt span{
    width: 10px;
    height: 60px;
    background-color: #fff;
    display: block; 
}

.s-txt h1{
    font-size: 48px;
    color: #fff;
    margin-left: 10px;
}

.s-img{
    width: 1600px;
    height: 360px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.s-img .left img{
    width: 750px;
    transition: 0.3s;
}

.s-img .left:hover img{
    opacity: 0.3;
}

.s-img .right:hover img{
    opacity: 0.3;
}

.s-img .right img{
    width: 750px;
    transition: 0.3s;
}

.s-img .left p,
.s-img .right p{
    font-size: 40px;
    color: #fff;
}

.s-img .left{
    position: relative;
}
.s-img .left .txt-t{
    position: absolute;
    right: 70px;
    top: 90px;
}

.s-img .left .txt-b{
    position: absolute;
    right: 70px;
    top: 140px;
}

.s-img .right{
    position: relative;
}
.s-img .right .txt-t{
    position: absolute;
    right: 130px;
    top: 40px;
}

.s-img .right .txt-b{
    position: absolute;
    right: 70px;
    top: 90px;
}

/* 디자인 영역 */
/* 외부디자인 */
.sec-2-head_txt .DESIGN{
    font-family: 'Cinzel';
    color: #939393;
    font-size: 300px;
    float: right;
    margin-right: 30px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: -55px;
    margin-top: 180px;
    opacity: 0;
}

.sec-2-head_txt .DESIGN.active{
    opacity: 1;
    transition: 0.3s;
}

.des-1{
    position: relative;
    margin-bottom: 90px;
    opacity: 0;
    transition: 0.5s;
}

.des-1.active{
    opacity: 1;
}

.des-1-txt{
    position: absolute;
    top: 500px;
    left: 330px;
}

.head-1{
    font-size: 96px;
    color: #939393;
    margin-bottom: 30px;
}

.des-1-txt span{
    width: 200px;
    height: 5px;
    background-color: #939393;
    display: block;
}
.des-1-txt .span1{
    margin-bottom: 20px;
}
.des-1 p{
    font-size: 20px;
    color: #939393;
    margin-top: 30px;
}

/* 내부디자인 */
.des-2{
    position: relative;
    opacity: 0;
    transition: 0.5s;
}

.des-2.active{
    opacity: 1;
}

.des-2-txt{
    position: absolute;
    top: 100px;
    right: 160px;
}

.head-2{
    font-size: 96px;
    color: #939393;
    margin-bottom: 30px;
}

.des-2-txt span{
    width: 200px;
    height: 5px;
    background-color: #939393;
    display: block;
}
.des-2-txt .span2{
    margin-bottom: 20px;
}
.des-2 p{
    font-size: 20px;
    color: #939393;
    margin-top: 30px;
}

/* sec-3 어워드 영역 */

.sec-3-head_txt .AWARD{
    color: #939393;
    font-size: 200px;
    float: left;
    margin-left: 30px;
    font-family: 'Cinzel';
    font-weight: 400;
    line-height: 1;
    margin-bottom: -37px;
    margin-top: 180px;
}
.award-box{
    clear: both;
    width: 100%;
    overflow: hidden;
}

.award-box img{
    object-fit: cover;
}
.award-box .con1{
    display: flex;
}
.award-box .con2{
    display: flex;
}

.award-box .con1 .box,
.award-box .con2 .box{
    width: 640px;
    height: 450px;
}

/* sec-3 텍스트영역 */
.box{
    position: relative;
}

.box-txt{
    display: flex;
    position: absolute;
    bottom: 70px;
    left: 40px;
}

.con1 p,
.con2 p{
    font-size: 24px;
    color: #fff;
    margin-left: 10px;
    line-height: 40px;
}

.con1 span,
.con2 span{
    width: 10px;
    height: 40px;
    background-color: #fff;
    display: block; 
}

.box-1 img{
    transition: 0.5s;
}

.box-1:hover img{
    width: 700px;
    height: 500px;
}

.box-2 img{
    transition: 0.5s;
}

.box-2:hover img{
    width: 700px;
    height: 500px;
}

.box-3 img{
    transition: 0.5s;
}

.box-3:hover img{
    width: 700px;
    height: 500px;
}

.box-4 img{
    transition: 0.5s;
}

.box-4:hover img{
    width: 700px;
    height: 500px;
}

.box-5 img{
    transition: 0.5s;
}

.box-5:hover img{
    width: 700px;
    height: 500px;
}

.box-6 img{
    transition: 0.5s;
}

.box-6:hover img{
    width: 700px;
    height: 500px;
}

/* sec-4 모터쇼 영역 */

.sec-4-head_txt .MOTOR{
    color: #939393;
    font-size: 200px;
    float: right;
    margin-right: 30px;
    font-family: 'Cinzel';
    font-weight: 400;
    line-height: 1;
    margin-bottom: -37px;
    margin-top: 180px;
}


.btn{
    display: flex;
    width: 1600px;
    margin: 0 auto;
    margin-top: -4px;
}
.btn li{
    font-family: 'Cinzel';
    font-weight: 700;
    width: 320px;
    height: 100px;
    cursor: pointer;
    background-color: #5a5a5a;
    line-height: 100px;
    text-align: center;
    font-size: 20px;
}

.btn li:hover,
.btn li.active{
    border-bottom: 2px solid #000;
    background-color: #333;
    transition: 0.5s;
}

.tabs{
    width: 1600px;
    margin: 0 auto;
    
}

.tabs div{
    display: none;
}
.tabs div.active{
    display: block;
}

/* #tab1 img{
    width: 1600px;
    height: 562px;
    object-fit: cover;
} */
#tab1{
    position: relative;
    color: #fff;

}
#tab1 p{
    font-size: 30px;
    position: absolute;
    right: 200px;
    top: 250px;
}

#tab2{
    position: relative;
    color: #fff;

}
#tab2 p{
    font-size: 30px;
    position: absolute;
    left: 55px;
    bottom: 110px;
}

#tab3{
    position: relative;
    color: #fff;

}
#tab3 p{
    font-size: 30px;
    position: absolute;
    left: 70px;
    top: 420px;
}

#tab4{
    position: relative;
    color: #fff;

}
#tab4 p{
    font-size: 30px;
    position: absolute;
    left: 55px;
    bottom: 80px;
}

#tab5{
    position: relative;
    color: #fff;

}
#tab5 p{
    font-size: 30px;
    position: absolute;
    left: 70px;
    top: 400px;
}
/* footer영역 */
.footer .container{
    width: 1600px;
    margin: 0 auto;
    margin-top: 60px;
}

.footer-t{
    display: flex;
}
.footer-t div{
    margin-right: 200px;
}

.footer-b{
    display: flex;
}

.footer-b div{
    margin-right: 250px;
    margin-top: 40px;
    margin-bottom: 130px;
}

.inner-txt h1{
    font-size: 20px;
    color: #939393;
}

.inner-txt p{
    font-size: 16px;
    margin: 15px 0;
}

.inner-txt a{
    color: #939393;
    white-space: nowrap;
}

/* 탑버튼 */

.top-btn{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 50px;
    bottom: 50px;
    cursor: pointer;
    z-index: 999;
    background-color: #5a5a5a;
    border-radius: 10px;
    opacity: 0.5;
}
.t-btn{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    opacity: 0.5;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* 미디어쿼리 */

@media(max-width:1500px){
    .header-wrap{
        width: 1200px;
        height: 100px;
        display: flex;
        justify-content: space-between;
    }

    .logo{
        width: 150px;
        height: 40px;
        margin: auto 325px;
    }

    .left-menu ul li{
        margin-left: 20px;
        text-align: center;
        white-space: nowrap;
    }
    
    .left-menu ul li a{
        color: #fff;
        font-size: 12px;
    }

    .right-menu ul li{
        margin-left: 20px;
        text-align: center;
        white-space: nowrap;
    }
    
    .right-menu ul li a{
        color: #fff;
        font-size: 12px;
    }

    /* 1500px 배너 */

    .banner-txt{
        width: 783px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 150px;
        left: 200px;
    }

    .gns{
        font-family: "Cinzel";
        font-size: 100px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 400;
    }
    
    .gns-txt{
        font-weight: 300;
        font-size: 18px;
        color: #fff;
        margin-bottom: 20px;
    }
    
    .gns-btn{
        width: 200px;
        height: 50px;
        border: 3px solid #fff;
        margin-top: 30px;
    }
    
    .gns-btn a{
        color: #fff;
        line-height: 50px;
        font-size: 15px;
        text-align: center;
    }

    /* 1500px sec-1 영역 */
    .f-txt{
        display: flex;
        top: 130px;
        margin-top: 130px;
    }
    
    .f-txt span{
        width: 10px;
        height: 50px;
        background-color: #fff;
        display: block; 
    }
    
    .f-txt h1{
        font-size: 40px;
        color: #fff;
        margin-left: 10px;
    }
    
    .sec-1-f{
        position: relative;
    }
    
    .sec-1 .container{
        width: 1200px;
        margin: 0 auto;
    }

    .sec-1 .f-slider_mask{
        display: flex;
        overflow: hidden;
        width: 1200px;
        height: 360px;
    }

    /* sec-1 모먼츠영역 */
    .s-txt{
        display: flex;
        margin-top: 30px;
    }
    
    .s-txt span{
        width: 10px;
        height: 50px;
        background-color: #fff;
        display: block; 
    }
    
    .s-txt h1{
        font-size: 40px;
        color: #fff;
        margin-left: 10px;
    }
    
    .s-img{
        width: 1200px;
        height: 360px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .s-img .left img{
        width: 600px;
        transition: 0.3s;
        object-fit: cover;
    }

    .s-img .right img{
        width: 600px;
        transition: 0.3s;
        object-fit: cover;
    }

    /* sec-2 디자인 영역 */
    .sec-2-head_txt .DESIGN{
        font-family: 'Cinzel';
        color: #939393;
        font-size: 250px;
        float: right;
        margin-right: 30px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -45px;
        margin-top: 70px;
        opacity: 0;
    }
    /* des-1 txt */
    .des-1-txt{
        position: absolute;
        top: 400px;
        left: 330px;
    }
    
    .head-1{
        font-size: 70px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }
    
    .des-1-txt span{
        width: 150px;
        height: 3px;
        background-color: #939393;
        display: block;
    }
    .des-1-txt .span1{
        margin-bottom: 20px;
    }
    .des-1 p{
        font-size: 16px;
        color: #939393;
        margin-top: 30px;
    }

    /* des-2 txt */
    .des-2-txt{
        position: absolute;
        top: 100px;
        right: 160px;
    }
    
    .head-2{
        font-size: 70px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }
    
    .des-2-txt span{
        width: 150px;
        height: 3px;
        background-color: #939393;
        display: block;
    }
    .des-2-txt .span2{
        margin-bottom: 20px;
    }
    .des-2 p{
        font-size: 16px;
        color: #939393;
        margin-top: 30px;
    }

    /* sec-3 award 영역 */
    .sec-3-head_txt .AWARD{
        color: #939393;
        font-size: 150px;
        float: left;
        margin-left: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -26px;
        margin-top: 70px;
    }

    /* sec-4 motor show 영역 */
    .sec-4-head_txt .MOTOR{
        color: #939393;
        font-size: 150px;
        float: right;
        margin-right: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -26px;
        margin-top: 70px;
    }

    .btn{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        margin-top: -4px;
    }
    .btn li{
        font-family: 'Cinzel';
        font-weight: 700;
        width: 320px;
        height: 100px;
        cursor: pointer;
        background-color: #5a5a5a;
        line-height: 100px;
        text-align: center;
        font-size: 16px;
    }

    .tabs{
        width: 1200px;
        margin: 0 auto;
    }

    /* #tab1 img{
        width: 1200px;
        height: 421px;
        object-fit: cover;
    } */

    #tab1 p{
        font-size: 25px;
        position: absolute;
        right: 150px;
        top: 200px;
    }

    #tab2 p{
        font-size: 25px;
        position: absolute;
        left: 60px;
        bottom: 110px;
    }
    
    #tab3 p{
        font-size: 25px;
        position: absolute;
        left: 70px;
        top: 300px;
    }
    
    #tab4 p{
        font-size: 25px;
        position: absolute;
        left: 55px;
        bottom: 50px;
    }
    
    #tab5 p{
        font-size: 25px;
        position: absolute;
        left: 50px;
        top: 280px;
    }

    /* footer 영역 */
    .footer .container{
        width: 1200px;
        margin: 0 auto;
        margin-top: 60px;
    }

    .footer-t div{
        margin-right: 158px;
    }
    
    .footer-b{
        display: flex;
    }
    
    .footer-b div{
        margin-right: 200px;
        margin-top: 40px;
        margin-bottom: 130px;
    }
    
    .inner-txt h1{
        font-size: 20px;
        color: #939393;
    }
    
    .inner-txt p{
        font-size: 12px;
        margin: 15px 0;
    }
    
    .inner-txt a{
        color: #939393;
        white-space: nowrap;
    }
}
@media(max-width:1300px){
    .header-wrap{
        width: 1000px;
        height: 100px;
        display: flex;
        justify-content: space-between;
        margin-left: -250px;
    }
    .logo{
        width: 150px;
        height: 30px;
        margin: auto 0px;
    }

    /* banner 1300px */

    .banner-txt{
        width: 783px;
        height: 245px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 160px;
        left: 150px;
    }

    .gns{
        font-family: "Cinzel";
        font-size: 80px;
        color: #fff;
        margin-bottom: 0px;
        font-weight: 400;
    }
    
    .gns-txt{
        font-weight: 300;
        font-size: 16px;
        color: #fff;
        margin-top: 0px;
    }

    .gns-btn{
        width: 200px;
        height: 50px;
        border: 3px solid #fff;
        margin-top: 30px;
    }
    
    .gns-btn a{
        color: #fff;
        line-height: 50px;
        font-size: 15px;
        text-align: center;
    }
    
    /* sec-1 1300px */
    
    .f-txt{
        display: flex;
        top: 130px;
        margin-top: 90px;
    }
    
    .f-txt span{
        width: 8px;
        height: 40px;
        background-color: #fff;
        display: block; 
    }
    
    .f-txt h1{
        font-size: 30px;
        color: #fff;
        margin-left: 10px;
        line-height: 40px;
    }
    
    .sec-1-f{
        position: relative;
    }
    
    .sec-1 .container{
        width: 1000px;
        margin: 0 auto;
    }

    .sec-1 .f-slider_mask{
        display: flex;
        overflow: hidden;
        width: 1000px;
        height: 360px;
    }

    /* sec-1 모먼츠영역 */
    .s-txt{
        display: flex;
        margin-top: 30px;
    }
    
    .s-txt span{
        width: 8px;
        height: 40px;
        background-color: #fff;
        display: block; 
    }
    
    .s-txt h1{
        font-size: 30px;
        color: #fff;
        margin-left: 10px;
        line-height: 40px;
    }
    
    .s-img{
        width: 1000px;
        height: 360px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .s-img .left img{
        width: 490px;
        transition: 0.3s;
        object-fit: cover;
    }

    .s-img .right img{
        width: 490px;
        transition: 0.3s;
        object-fit: cover;
    }

    /* sec-2 디자인 영역 */
    .sec-2-head_txt .DESIGN{
        font-family: 'Cinzel';
        color: #939393;
        font-size: 200px;
        float: right;
        margin-right: 30px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -39px;
        margin-top: 70px;
        opacity: 0;
    }
    /* des-1 txt */
    .des-1-txt{
        position: absolute;
        top: 300px;
        left: 150px;
    }
    
    .head-1{
        font-size: 50px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }
    
    /* des-2 txt */
    .des-2-txt{
        position: absolute;
        top: 100px;
        right: 70px;
    }
    
    .head-2{
        font-size: 50px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }
    
    /* sec-3 어워드영역 */

    .sec-3-head_txt .AWARD{
        color: #939393;
        font-size: 120px;
        float: left;
        margin-left: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -26px;
        margin-top: 70px;
    }

    /* sec-4 motor show 영역 */
    .sec-4-head_txt .MOTOR{
        color: #939393;
        font-size: 120px;
        float: right;
        margin-right: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -20px;
        margin-top: 70px;
    }

    .btn{
        display: flex;
        width: 1000px;
        margin: 0 auto;
        margin-top: -4px;
    }
    .btn li{
        font-family: 'Cinzel';
        font-weight: 700;
        width: 200px;
        height: 100px;
        cursor: pointer;
        background-color: #5a5a5a;
        line-height: 100px;
        text-align: center;
        font-size: 12px;
    }


    .tabs{
        width: 1000px;
        margin: 0 auto;
    }

    /* #tab1 img{
        width: 1000px;
        height: 351px;
        object-fit: cover;
    }
 */
    #tab1{
        position: relative;
        color: #fff;
    
    }
    #tab1 p{
        font-size: 25px;
        position: absolute;
        right: 150px;
        top: 180px;
    }
    
    #tab2 p{
        font-size: 20px;
        position: absolute;
        left: 60px;
        bottom: 90px;
    }
    
    #tab3 p{
        font-size: 20px;
        position: absolute;
        left: 70px;
        top: 250px;
    }
    
    #tab4 p{
        font-size: 20px;
        position: absolute;
        left: 55px;
        bottom: 50px;
    }
    
    #tab5 p{
        font-size: 18px;
        position: absolute;
        left: 50px;
        top: 220px;
    }

    /* footer 영역 */
    .footer .container{
        width: 1000px;
        margin: 0 auto;
        margin-top: 60px;
    }

    .footer-t div{
        margin-right: 110px;
    }
    
    .footer-b{
        display: flex;
    }
    
    .footer-b div{
        margin-right: 160px;
        margin-top: 40px;
        margin-bottom: 130px;
    }
    
    .inner-txt h1{
        font-size: 20px;
        color: #939393;
    }
    
    .inner-txt p{
        font-size: 12px;
        margin: 15px 0;
    }
    
    .inner-txt a{
        color: #939393;
        white-space: nowrap;
    }

}

@media(max-width:960px){
    .left-menu{
        display: none;
    }
    .right-menu{
        display: none;
    }
    .header-wrap{
        margin-left: 0;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .logo{
        width: 100px;
        height: 20px;
    }
    
    
    #hamburger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 99999;
        left: -300px;
        top: 50%;
    }

    #hamburger span{
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #fff;
    }

    #hamburger span:nth-child(1){
        top: 0;
        left: 0;
    }
    #hamburger span:nth-child(2){
        top: 10px;
        left: 0;
    }
    #hamburger span:nth-child(3){
        top: 20px;
        left: 0;
    }

    .m-main_menu{
        display: block;
        width: 300px;
        height: 100vh;
        position: fixed;
        background-color: #000;
        color: #fff;
        font-size: 30px;
        white-space: nowrap;
        line-height: 120px;
        transition: 0.3s;
        z-index: -1;
        left: 0;
        opacity: 0;
    }
    .m-main_menu.active{
        /* display: block; */
        opacity: 0.8;
        transition: 0.3s;
        z-index: 999;
    }
    header.on{
        background-color: #000;
    }
    .m-main_menu .menu-wrap{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;    
    }
    .m-main_menu .menu-wrap li a{
        color: #fff; 
        opacity: .6;
        text-align: center;
        transition: 0.3s;
    }
    .m-main_menu .menu-wrap li:hover a{
        opacity: 1;
    }

    /* banner 영역 */
    .banner-txt{
        width: 783px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 130px;
        left: 100px;
    }

    .gns{
        font-family: "Cinzel";
        font-size: 60px;
        color: #fff;
        margin-bottom: 10px;
        font-weight: 400;
    }
    
    .gns-txt{
        font-weight: 300;
        font-size: 12px;
        color: #fff;
        margin-bottom: 20px;
    }
    
    /* sec-1 영역 */
    .f-txt{
        display: flex;
        top: 130px;
        margin-top: 50px;
        margin-left: 70px;
    }
    
    .f-txt span{
        width: 10px;
        height: 50px;
        background-color: #fff;
        display: block; 
    }
    
    .f-txt h1{
        font-size: 24px;
        color: #fff;
        margin-left: 10px;
    }
    
    .sec-1-f{
        position: relative;
    }
    
    .sec-1 .container{
        width: 960px;
        margin: 0 auto;
    }

    .sec-1 .f-slider_mask{
        display: flex;
        overflow: hidden;
        width: 960px;
        height: 360px;
    }
    /* sec-1모먼츠 */
    .s-txt{
        display: flex;
        margin-top: 30px;
        margin-left: 70px;
    }
    
    .s-txt span{
        width: 8px;
        height: 40px;
        background-color: #fff;
        display: block; 
    }
    
    .s-txt h1{
        font-size: 24px;
        color: #fff;
        margin-left: 10px;
        line-height: 40px;
    }
    
    .s-img{
        width: 700px;
        height: 360px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 70px;
    }

    .s-img .left img{
        width: 700px;
        transition: 0.3s;
        object-fit: cover;
    }

    .s-img .right img{
        width: 700px;
        transition: 0.3s;
        object-fit: cover;
    }

    /* sec-2디자인영역 */

    .sec-2 .container{
        margin-top: 320px;
    }
    .sec-2-head_txt .DESIGN{
        font-family: 'Cinzel';
        color: #939393;
        font-size: 150px;
        float: right;
        margin-right: 30px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -25px;
        margin-top: 70px;
        opacity: 0;
    }
    
    .des-1-txt{
        position: absolute;
        top: 250px;
        left: 100px;
    }
    
    .head-1{
        font-size: 40px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-1-txt span{
        width: 120px;
        height: 3px;
        background-color: #939393;
        display: block;
    }
    .des-1-txt .span1{
        margin-bottom: 10px;
    }
    .des-1 p{
        font-size: 12px;
        color: #939393;
        margin-top: 30px;
    }

    
    /* des-2 txt */
    .des-2-txt{
        position: absolute;
        top: 50px;
        right: 50px;
    }
    
    .head-2{
        font-size: 40px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-2-txt span{
        width: 120px;
        height: 3px;
        background-color: #939393;
        display: block;
    }
    .des-2-txt .span2{
        margin-bottom: 10px;
    }
    .des-2 p{
        font-size: 12px;
        color: #939393;
        margin-top: 30px;
    }

    /* sec-3어워드 영역 */

    .sec-3-head_txt .AWARD{
        color: #939393;
        font-size: 80px;
        float: left;
        margin-left: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -15px;
        margin-top: 70px;
    }

    .award-box{
        clear: both;
        width: 100%;
        overflow: hidden;
    }
    
    .award-box img{
        object-fit: cover;
    }
    .award-box .con1{
        display: flex;
        flex-direction: column;
    }
    .award-box .con2{
        display: flex;
        flex-direction: column;
    }
    
    .award-box .con1 .box,
    .award-box .con2 .box{
        width: 960px;
        height: 450px;
    }

    .box-1:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-2:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-3:hover img{
        width: 1000px;
        height: 600px;
    }
    
    .box-4:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-5:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-6:hover img{
        width: 1000px;
        height: 600px;
    }
    
    /* sec-4 모터쇼 */
    .sec-4-head_txt .MOTOR{
        color: #939393;
        font-size: 70px;
        float: right;
        margin-right: 30px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -12px;
        margin-top: 70px;
    }
    
    .motor-box{
        display: flex;
        width: 100%;
    }
    .btn{
        display: block;
        width: 200px;
        margin: 0;
        margin-top: -4px;
    }
    .btn li{
        font-family: 'Cinzel';
        font-weight: 700;
        width: 200px;
        height: 100px;
        cursor: pointer;
        background-color: #5a5a5a;
        line-height: 100px;
        text-align: center;
        font-size: 12px;
    }

    .tabs{
        width: calc(100% - 200px);
        height: 500px;
        margin: 0;
    }

    #tab1 img,
    #tab2 img,
    #tab3 img,
    #tab4 img,
    #tab5 img{
        width: 100%;
        height: 100%;
    }
    #tab1,#tab2,#tab3,#tab4,#tab5{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #tab1{
        position: relative;
        color: #fff;
    
    }
    #tab1 p{
        font-size: 25px;
        position: absolute;
        right: 100px;
        top: 100px;
    }
    
    #tab2 p{
        font-size: 20px;
        position: absolute;
        left: 60px;
        bottom: 50px;
    }
    
    #tab3 p{
        font-size: 20px;
        position: absolute;
        left: 70px;
        top: 400px;
    }
    
    #tab4 p{
        font-size: 18px;
        position: absolute;
        left: 55px;
        bottom: 50px;
    }
    
    #tab5 p{
        font-size: 20px;
        position: absolute;
        left: 50px;
        top: 380px;
    }
    

    /* footer 영역 */
    .footer .container{
        width: 890px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .footer-t div{
        margin-right: 100px;
    }
    .footer-t{
        margin-left: 0px;
    }
    
    .footer-b{
        display: flex;
        margin-left: 0px;
    }
    
    .footer-b div{
        margin-right: 140px;
        margin-top: 40px;
        margin-bottom: 130px;
    }
    
    .inner-txt h1{
        font-size: 15px;
        color: #939393;
    }
    
    .inner-txt p{
        font-size: 8px;
        margin: 15px 0;
    }
    
    .inner-txt a{
        color: #939393;
        white-space: nowrap;
    }
}

@media(max-width:760px){
    .header-wrap{
        display: flex;
        justify-content:center;
        align-items: center;
        width: 700px;
        height: 70px;
    }

    .logo{
        width: 100px;
        height: 20px;
    }

    #hamburger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 99999;
        left: -300px;
        top: 50%;
        margin-left: 30px;
    }

    .m-main_menu{
        display: block;
        width: 200px;
        height: 100vh;
        position: absolute;
        background-color: #000;
        color: #fff;
        font-size: 20px;
        white-space: nowrap;
        line-height: 120px;
        transition: 0.3s;
        z-index: -1;
        left: 0;
        opacity: 0;
    }
    /* banner 영역 */
    .banner-txt{
        width: 783px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 130px;
        left: 100px;
    }

    .gns{
        font-family: "Cinzel";
        font-size: 30px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .gns-txt{
        font-weight: 300;
        font-size: 8px;
        color: #fff;
        margin-bottom: 20px;
    }

    .gns-btn{
        width: 130px;
        height: 40px;
        border: 2px solid #fff;
        margin-top: 30px;
    }
    
    .gns-btn a{
        color: #fff;
        line-height: 40px;
        font-size: 12px;
        text-align: center;
    }

    /* sec-1 영역 */
    .f-txt{
        display: flex;
        top: 130px;
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .f-txt span{
        width: 10px;
        height: 30px;
        background-color: #fff;
        display: block; 
    }
    
    .f-txt h1{
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        line-height: 30px;
    }
    
    .sec-1-f{
        position: relative;
    }
    
    .sec-1 .container{
        width: 700px;
        margin: 0 auto;
    }

    .sec-1 .f-slider_mask{
        display: flex;
        overflow: hidden;
        width: 700px;
        height: 300px;
        
    }

    /* sec-1 f 슬라이더 영역 */
    /* 슬라이더영역 */
.sec-1 .cell{
    width: 250px;
    height: 250px;
    margin-right: 50px;
    position: relative;
}
.sec-1 .cell img{
    object-fit: contain;
}
.sec-1 .cell p{
    color: #fff;
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.sec-1 .cell .ex{
    font-size: 12px;
    top: 60px;
}
.sec-1 .slider{
    display: flex;
    animation: slide 60s linear infinite;
}
    /* sec-1모먼츠 */
    .s-txt{
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .s-txt span{
        width: 8px;
        height: 40px;
        background-color: #fff;
        display: block; 
    }
    
    .s-txt h1{
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        line-height: 40px;
    }
    
    .s-img{
        width: 700px;
        height: 360px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 0px;
    }

    .s-img .left img{
        width: 700px;
        transition: 0.3s;
        object-fit: cover;
        
    }

    .s-img .right img{
        width: 700px;
        transition: 0.3s;
        object-fit: cover;
    }

    /* sec-2 디자인영역 */
    .sec-2-head_txt .DESIGN{
        font-family: 'Cinzel';
        color: #939393;
        font-size: 100px;
        float: right;
        margin-right: 30px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -18px;
        margin-top: 70px;
        opacity: 0;
    }

    .des-1-txt{
        position: absolute;
        top: 180px;
        left: 50px;
    }
    
    .head-1{
        font-size: 30px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-1-txt span{
        width: 120px;
        height: 2px;
        background-color: #939393;
        display: block;
    }
    .des-1-txt .span1{
        margin-bottom: 10px;
    }
    .des-1 p{
        font-size: 10px;
        color: #939393;
        margin-top: 30px;
    }

    
    /* des-2 txt */
    .des-2-txt{
        position: absolute;
        top: 50px;
        right: 50px;
    }
    
    .head-2{
        font-size: 30px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-2-txt span{
        width: 120px;
        height: 2px;
        background-color: #939393;
        display: block;
    }
    .des-2-txt .span2{
        margin-bottom: 10px;
    }
    .des-2 p{
        font-size: 10px;
        color: #939393;
        margin-top: 30px;
    }
    /* sec-3 어워드영역 */

    .award-box{
        clear: both;
        width: 100%;
        overflow: hidden;
    }
    
    .award-box img{
        object-fit: cover;
    }
    .award-box .con1{
        display: flex;
        flex-direction: column;
    }
    .award-box .con2{
        display: flex;
        flex-direction: column;
    }
    
    .award-box .con1 .box,
    .award-box .con2 .box{
        width: 760px;
        height: 450px;
    }

    .box-1:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-2:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-3:hover img{
        width: 1000px;
        height: 600px;
    }
    
    .box-4:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-5:hover img{
        width: 1000px;
        height: 600px;
    }
    .box-6:hover img{
        width: 1000px;
        height: 600px;
    }

    .box-txt{
        display: flex;
        position: absolute;
        bottom: 50px;
        left: 40px;
    }
    
    .con1 p,
    .con2 p{
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        line-height: 30px;
    }

    .con1 span,
    .con2 span{
        width: 5px;
        height: 30px;
        background-color: #fff;
        display: block; 
    }

    /* sec-4 영역 */
    .btn{
        display: block;
        width: 150px;
        margin: 0;
        margin-top: -4px;
    }
    .btn li{
        font-family: 'Cinzel';
        font-weight: 700;
        width: 150px;
        height: 100px;
        cursor: pointer;
        background-color: #5a5a5a;
        line-height: 100px;
        text-align: center;
        font-size: 10px;
    }

    .tabs{
        width: calc(100% - 150px);
        height: 500px;
        margin: 0;
    }

    #tab1 img,
    #tab2 img,
    #tab3 img,
    #tab4 img,
    #tab5 img{
        width: 100%;
        height: 100%;
    }
    #tab1,#tab2,#tab3,#tab4,#tab5{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #tab1{
        position: relative;
        color: #fff;
    
    }
    #tab1 p{
        font-size: 20px;
        position: absolute;
        right: 100px;
        top: 100px;
    }
    
    #tab2 p{
        font-size: 18px;
        position: absolute;
        left: 50px;
        bottom: 50px;
    }
    
    #tab3 p{
        font-size: 18px;
        position: absolute;
        left: 70px;
        top: 420px;
    }
    
    #tab4 p{
        font-size: 15px;
        position: absolute;
        left: 50px;
        bottom: 50px;
    }
    
    #tab5 p{
        font-size: 15px;
        position: absolute;
        left: 50px;
        top: 400px;
    }

    .footer .container{
        width: 700px;
        margin: 0 auto;
        margin-top: 100px;
    }

    .footer-t div{
        margin-right: 55px;
    }
    .footer-t{
        margin-left: 0px;
    }
    
    .footer-b{
        display: flex;
        margin-left: 0px;
    }
    
    .footer-b div{
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 130px;
    }
    
    .inner-txt h1{
        font-size: 15px;
        color: #939393;
    }
    
    .inner-txt p{
        font-size: 8px;
        margin: 15px 0;
    }
    
    .inner-txt a{
        color: #939393;
        white-space: nowrap;
    }
}
@media(max-width:400px){
    header{
        width: 100%;
    }
    .header-wrap{
        width: 100%;
        margin-left: 0;
        display: flex;
        justify-content:center;
        align-items: center;
        
    }
    .logo{
        width: 100px;
    }
    .m-menu{
        position: absolute;
        left: 0;
    }
    .m-main_menu{
        position: fixed;
        font-size: 15px;
        width: 180px;
    }
    .m-main_menu .menu-wrap{
        line-height: 130px;
    }
    .menu-wrap a{
        display: block;
    }
    #hamburger{
        left: 0;
    }

    #hamburger span{
        width: 30px;
    }

    .banner{
        top: 70px;
    }

    .banner-txt{
        width: auto;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 80px;
        left: 20px;
    }

    .gns{
        font-family: "Cinzel";
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 400;
    }
    
    .gns-txt{
        font-weight: 300;
        font-size: 8px;
        color: #fff;
        margin-bottom: 20px;
    }

    .gns-btn{
        width: 100px;
        height: 25px;
        border: 2px solid #fff;
        margin-top: 30px;
    }
    
    .gns-btn a{
        color: #fff;
        line-height: 25px;
        font-size: 8px;
        text-align: center;
    }

    .f-txt{
        display: flex;
        top: 130px;
        margin-top: 80px;
        margin-left: 0px;
    }
    
    .f-txt span{
        width: 10px;
        height: 30px;
        background-color: #fff;
        display: block; 
    }
    
    .f-txt h1{
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        line-height: 30px;
    }
    
    .sec-1-f{
        position: relative;
    }
    
    .sec-1 .container{
        width: 375px;
        margin: 0 auto;
    }

    .sec-1 .f-slider_mask{
        display: flex;
        overflow: hidden;
        width: 375px;
        height: 150px; 
    }
    
    .sec-1 .cell{
        width: 150px;
        height: 150px;
        margin-right: 30px;
        position: relative;
    }
    .sec-1 .cell img{
        object-fit: contain;
    }
    .sec-1 .cell p{
        color: #fff;
        font-size: 15px;
        position: absolute;
        top: 10px;
        left: 30px;
    }
    .sec-1 .cell .ex{
        font-size: 10px;
        top: 30px;
    }
    

    .s-txt{
        display: flex;
        margin-top: 30px;
        margin-left: 0px;
    }
    
    .s-txt span{
        width: 8px;
        height: 40px;
        background-color: #fff;
        display: block; 
    }
    
    .s-txt h1{
        font-size: 20px;
        color: #fff;
        margin-left: 10px;
        line-height: 40px;
    }
    
    .s-img{
        width: 375px;
        height: 360px;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 0px;
    }

    .s-img .left img{
        width: 375px;
        transition: 0.3s;
        object-fit: cover;
        
    }

    .s-img .right img{
        width: 375px;
        transition: 0.3s;
        object-fit: cover;
    }
    .s-img .left p,
    .s-img .right p{
    font-size: 20px;
    color: #fff;
    }

    .s-img .left .txt-t{
        position: absolute;
        right: 70px;
        top: 50px;
    }
    
    .s-img .left .txt-b{
        position: absolute;
        right: 50px;
        top: 80px;
    }
    
    .s-img .right{
        position: relative;
    }
    .s-img .right .txt-t{
        position: absolute;
        right: 110px;
        top: 20px;
    }
    
    .s-img .right .txt-b{
        position: absolute;
        right: 60px;
        top: 50px;
    }
    .sec-2 .container{
        margin-top: 0px;
    }
    .sec-2-head_txt .DESIGN{
        font-family: 'Cinzel';
        color: #939393;
        font-size: 80px;
        float: right;
        margin-right: 0px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: -12px;
        margin-top: 70px;
        opacity: 0;
    }

    .des-1{
        margin-bottom: 30px;
    }
    
    .des-1-txt{
        position: absolute;
        top: 160px;
        left: 20px;
    }
    
    .head-1{
        font-size: 20px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-1-txt span{
        width: 70px;
        height: 2px;
        background-color: #939393;
        display: block;
    }
    .des-1-txt .span1{
        margin-bottom: 10px;
    }
    .des-1 p{
        font-size: 8px;
        color: #939393;
        margin-top: 30px;
        display: none;
    }

    
    /* des-2 txt */
    .des-2-txt{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    
    .head-2{
        font-size: 20px;
        color: #939393;
        margin-bottom: 10px;
        font-weight: 200;
    }

    .des-2-txt span{
        width: 70px;
        height: 2px;
        background-color: #939393;
        display: block;
    }
    .des-2-txt .span2{
        margin-bottom: 10px;
    }
    .des-2 p{
        font-size: 10px;
        color: #939393;
        margin-top: 30px;
        display: none;
    }

    .award-box{
        padding: 0 12px;
    }
    .sec-3-head_txt .AWARD{
        color: #939393;
        font-size: 40px;
        float: left;
        margin-left: 10px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: 0px;
        margin-top: 30px;
    }

    .award-box .con1 .box,
    .award-box .con2 .box{
        width: 375px;
        height: auto;
    }
    .box-1:hover img{
        width: 400px;
        height: 300px;
    }
    .box-2:hover img{
        width: 400px;
        height: 300px;
    }
    .box-3:hover img{
        width: 400px;
        height: 300px;
    }
    
    .box-4:hover img{
        width: 400px;
        height: 300px;
    }
    .box-5:hover img{
        width: 400px;
        height: 300px;
    }
    .box-6:hover img{
        width: 400px;
        height: 300px;
    }

    .con1 p,
    .con2 p{
    font-size: 12px;
    color: #fff;
    margin-left: 5px;
    line-height: 20px;
    }

    .con1 span,
    .con2 span{
    width: 5px;
    height: 20px;
    background-color: #fff;
    display: block; 
    }
    

    .sec-4-head_txt .MOTOR{
        color: #939393;
        font-size: 35px;
        float: right;
        margin-right: 10px;
        font-family: 'Cinzel';
        font-weight: 400;
        line-height: 1;
        margin-bottom: -5px;
        margin-top: 30px;
    }
    .btn{
        display: block;
        width: 100px;
        margin: 0;
        margin-top: -4px;
    }
    .btn li{
        font-family: 'Cinzel';
        font-weight: 500;
        width: 100px;
        height: 50px;
        cursor: pointer;
        background-color: #5a5a5a;
        line-height: 20px;
        text-align: center;
        font-size: 4px;
        
    }

    .tabs{
        width: calc(100% - 100px);
        height: 250px;
        margin: 0;
    }

    #tab1 img,
    #tab2 img,
    #tab3 img,
    #tab4 img,
    #tab5 img{
        width: 100%;
        height: 100%;
    }
    #tab1,#tab2,#tab3,#tab4,#tab5{
        width: 100%;
        height: 100%;
        position: relative;
    }
    #tab1{
        position: relative;
        color: #fff;
    
    }
    #tab1 p{
        font-size: 10px;
        position: absolute;
        right: 50px;
        top: 80px;
    }
    
    #tab2 p{
        font-size: 10px;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    
    #tab3 p{
        font-size: 10px;
        position: absolute;
        left: 20px;
        top: 200px;
    }
    
    #tab4 p{
        font-size: 8px;
        position: absolute;
        left: 20px;
        bottom: 20px;
    }
    
    #tab5 p{
        font-size: 10px;
        position: absolute;
        left: 20px;
        top: 200px;
    }


    .footer .container{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
    }

    .footer-t div{
        margin-right: 30px;
    }
    .footer-t{
        margin-left: 20px;
    }
    
    .footer-b{
        display: flex;
        margin-left: 20px;
    }
    
    .footer-b div{
        margin-right: 100px;
        margin-top: 40px;
        margin-bottom: 130px;
    }
    
    .inner-txt h1{
        font-size: 12px;
        color: #939393;
    }
    
    .inner-txt p{
        font-size: 7px;
        margin: 15px 0;
    }
    
    .inner-txt a{
        color: #939393;
        white-space: nowrap;
    }

    .txt4,.txt5{
        display: none;
    }
}